<div class="container">
  <div class="row d-flex justify-content-between mb-4 mt-2">
    <div class="add-fish" *ngIf="isLoggedIn">
      <span
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-primary"
        routerLink="/addFish"
      >
        Add a fish
      </span>
    </div>
    <form (ngSubmit)="search()" class="col-sm-12 col-md-4 col-lg-4">
      <div class="row">
        <input
          type="text"
          class="col-8 form-control"
          name="searchtext"
          placeholder="enter keyword"
          [(ngModel)]="searchText"
        />
        <span
          class="input-group-text border-0"
          id="search-addon"
          (click)="search()"
        >
          <i class="fas fa-search"></i>
        </span>
      </div>
    </form>
  </div>
  <div class="row" *ngIf="fishes && fishes.length > 0">
    <div class="col-xl-3 col-lg-4 col-md-6 col-12" *ngFor="let fish of fishes">
      <div class="card m-1">
        <div class="card-body">
          <fieldset>
            <legend>Name: {{ fish.name }}</legend>
            Family name: {{ fish.family | uppercase }}
            <br />
            Food list: {{ fish.food | lowercase }}
            <div class="d-flex" *ngIf="isLoggedIn">
              <button
                class="btn btn-danger mr-auto p-1"
                (click)="deleteFish(fish._id)"
              >
                Delete
              </button>
              <button
                class="btn btn-info p-2"
                routerLink="/fish/{{ fish._id }}"
              >
                Edit
              </button>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="fishes && fishes.length == 0">No fishes found!</div>
</div>
