<div class="container">
  <nav class="navbar nav nav-pills navbar-expand-lg navbar-light">
    <ul>
      <li
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link"
        routerLink="/"
      >
        <h5>Home</h5>
      </li>
      <li
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link"
        routerLink="/fishes"
      >
        <h5>Fishes</h5>
      </li>
      <div class="profile" *ngIf="isLoggedIn">
        <li
          *ngIf="isLoggedIn"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item nav-link"
          routerLink="/profile"
        >
          <h5>Profile</h5>
        </li>
      </div>
    </ul>
    <app-login></app-login>
  </nav>
  <div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <span
      class="d-flex justify-content-center toast hide"
      [ngClass]="{
        'bg-success': message.success,
        'bg-danger': !message.success
      }"
    >
      {{ message.message }}
    </span>
  </div>
</div>
