li {
  list-style-type: none;
  margin-bottom: 10px;
}

ul {
  margin: 50px 100px;
}

a {
  text-decoration: none;
}

span.delete {
  margin-right: 20px;
  cursor: pointer;
}

.card-wrapper {
  margin-top: 50px;
}

.game-card {
  height: 150px;
  margin: auto;
}

.games-list {
  display: flex;
  gap: 10px;
}
