<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="save()" *ngIf="fish">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Name</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Name"
            [(ngModel)]="fish.name"
          />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Family of species</span>
          </div>
          <input
            type="text"
            name="family"
            class="form-control"
            placeholder="Family"
            [(ngModel)]="fish.family"
          />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Food</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="food"
            placeholder="Food"
            [(ngModel)]="fish.food"
          />
        </div>
        <fieldset class="border p-2">
          <legend>Distribution</legend>
          <div
            class="dist"
            *ngFor="let dist of fish.distribution; let i = index"
          >
            <div class="container d-flex justify-content-end">
              <div class="row mt-2">
                <input
                  type="text"
                  name="d_name{{ i }}"
                  placeholder="distribution"
                  [(ngModel)]="dist.d_name"
                />
                <div class="remove_dist btn btn-danger" (click)="removeDist(i)">
                  -
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary w-100 mt-2">Save</button>
      </form>
    </div>
  </div>
</div>
<!-- (label{Name}^br^input.input)*4 -->
