<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="add()">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Name</span>
          </div>
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            [(ngModel)]="fish.name"
          />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Family of fish</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="family"
            id="family"
            [(ngModel)]="fish.family"
          />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Food</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="food"
            id="food"
            [(ngModel)]="fish.food"
          />
        </div>
        <fieldset class="border p-2">
          <div class="add_dist btn btn-primary" (click)="addDist()">+</div>
          <legend>Distribution</legend>
          <div
            class="container d-flex justify-content-end"
            *ngFor="let dist of fish.distribution; let i = index"
          >
            <div class="row mt-2">
              <input
                type="text"
                name="d_name{{ i }}"
                id="food"
                [(ngModel)]="dist.d_name"
              />
              <div class="btn btn-danger" (click)="removeDist(i)">-</div>
            </div>
          </div>
        </fieldset>

        <br />
        <button type="submit" class="btn btn-primary w-100 mt-2">
          Add new fish
        </button>
      </form>
    </div>
  </div>
</div>
