form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.add_dist,
.remove_dist {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.add_dist {
  background-color: #c3ffd1;
}
.remove_dist {
  background-color: #ffc3c3;
}

.dist {
  display: flex;
  margin-top: 5px;
  padding: 0 10px;
}
